@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url(https://fonts.googleapis.com/css?family=Anton);

#titulohotel{
    color:orangered;
    text-decoration:dashed;
    font-family:Baloo Bhaijaan  ;
    text-align:center;
    font-size:-webkit-xxx-large;
    text-decoration:overline;
 }

#since{
    color:brown;
    text-align:center;
    font-family:Lobster;
    text-transform:capitalize;
}

#botones{
    font-family:inherit;
}

#oferta{
    color:red;
    text-align:center;
    font-family:cursive;
    text-transform:capitalize;
}

#titulo{
    color: coral;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;}

#temas{
    color:blueviolet;
    underground-color:white }

#gif{
    image-align:center;
   }

.contenedor_ppal{
    background: url(https://i.onthebeach.co.uk/v1/hotel_images/0a4e1336-7567-4c46-ba35-921fc926666b/contain/1000/600/high/1.0/beatriz-playa-spa) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
 
}


p{
  display:none;  
}

ul{
    display:none;
}